---
// Footer.astro - Simple footer component with copyright information
---

<footer class="w-full py-md text-center text-small text-content-muted" style="background-color: #F6EDF7;">
  <div class="container mx-auto px-6">
    <p>©2025 - Kaitlin Isaac</p>
  </div>
</footer> 